body { background: #d41879; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-cart-0 { color: #c347d3; font-size: 15px; margin-bottom: 5px; }
.block-metrics-1 { color: #1b324f; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #896ae0; font-size: 14px; margin-bottom: 5px; }
.block-validator-3 { color: #d5123d; font-size: 20px; margin-bottom: 5px; }
.block-config-4 { color: #64269b; font-size: 12px; margin-bottom: 5px; }
.block-user-5 { color: #82b62a; font-size: 14px; margin-bottom: 5px; }
.block-validator-6 { color: #204e9; font-size: 15px; margin-bottom: 5px; }
.block-uploader-7 { color: #5f6155; font-size: 19px; margin-bottom: 5px; }
.block-sms-8 { color: #2368e4; font-size: 18px; margin-bottom: 5px; }
.block-cluster-9 { color: #b88248; font-size: 19px; margin-bottom: 5px; }
.block-sms-10 { color: #540c7e; font-size: 16px; margin-bottom: 5px; }
.block-router-11 { color: #50e21f; font-size: 15px; margin-bottom: 5px; }